<div class="container w-50">

    <%= flash[:notice] %>
    <h1>welcome to <i class="fa-solid fa-book"></i> <strong>Bookers</strong> !!</h1>
    <p>In <i class="fa-solid fa-book"></i> <strong>Bookers</strong>,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions</p>

    <p>about various books!</p>
  <div class="btn-wrapper col-10 mx-auto">
    <div class="row">
      <a class="btn-info btn-block btn-sm mb-3 text-center" href= /users/sign_in role="button">Log in</a>
    </div>

    <div class="row">
      <a class="btn-success btn-block btn-sm mb-3 text-center" href= /users/sign_up role="button">Sign up</a>
    </div>
  </div>
</div>