<h1>welcome to Bookers !!</h1>
<p>In Bookers,</p>

<p>you can share and exchange your opinions , inpressions ,<br>
and emotions</p>

<p>about various books!</p>

<span>
  <%= link_to "sign up", "/users/sign_up" %>
</span>

<span>
  <%= link_to "log out", destroy_user_session_path, method: :delete %>
</span>